<h1><%=session[:company]%></h1>
<div id="stylized-report" class="myreport">

  <div id="report_buttons">
     <input type="button" value="Print" onclick="print_report();">
     <input type="button" value="Cancel" onclick="document.location.href = 'reports'" >
  </div>


<table class="report_table">
<thead>
  <tr>
    <th>Payment Date</th>
    <th>Student</th>
    <th>PR #</th>
    
    <th>Amount Paid</th>
    <th>Registration Fee</th>
  </tr>
</thead>
<tbody>
<%total = 0.00%>
<% sales.each do |p| %>
  <tr>
    <td style="font-size:10px"><%= p.payment_date.strftime('%m/%d/%Y')%></td>
    <td style="font-size:10px"><%= p.student.lastname%>&nbsp;<%=p.student.firstname%></td>
    <td style="font-size:10px"><%= number_with_precision(p.amount_paid, :precision => 2) %></td>
    <td style="font-size:10px"><%= number_with_precision(p.newfee, :precision => 2) %></td>
    <%total = total.to_f + p.amount_paid.to_f + p.newfee.to_f%>
  </tr>
<% end %>

</tbody>

</table>

<div style="position:absolute; top:10px;left:0px; font-family: verdana,arial,helvetica,sans-serif; font-size: 14px;font-weight:normal;">
  <%=title%> (printed on <%=Time.now.strftime('%m/%d/%Y %H:%M')%>)
</div>
<div style="position:absolute; top:45px;right:100px; font-family: verdana,arial,helvetica,sans-serif; font-size: 12px;font-weight:bold;">
  Total Income&nbsp;&nbsp;:&nbsp;&nbsp;<%= number_with_precision(total, :precision => 2, :delimiter => "#{session[:delimiter]}")%>
</div>

<br />
</div>
<script>
   jQuery('.report_table').dataTable({"bPaginate":false,"bFilter":false, "bInfo": false});
   jQuery(".menu3").css("visibility","hidden"); 
   jQuery(".menu3sub").css("visibility","hidden"); 
</script>
