<%= form_for(@ar) do |f| %>
  <% if @ar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ar.errors.count, "error") %> prohibited this ar from being saved:</h2>

      <ul>
      <% @ar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.number_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br />
    <%= f.number_field :level_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :newfee %><br />
    <%= f.number_field :newfee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
