<h1>Listing month_covereds</h1>

<table>
  <tr>
    <th>Payment</th>
    <th>Month</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @month_covereds.each do |month_covered| %>
  <tr>
    <td><%= month_covered.payment_id %></td>
    <td><%= month_covered.month %></td>
    <td><%= link_to 'Show', month_covered %></td>
    <td><%= link_to 'Edit', edit_month_covered_path(month_covered) %></td>
    <td><%= link_to 'Destroy', month_covered, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Month covered', new_month_covered_path %>
