<div id="stylized" class="myform">
<h1>LEVEL LIST</h1>
<p>Data entry for level list</p>
<%= form_for(@level) do |f| %>
<div class="errormsg" <%if @validates.nil? %>style="visibility:hidden" <%end%> >es
  <div id="msg" style="position: fixed;padding-top:55px;top:100px;border:2px solid;box-shadow: 10px 10px 5px blue;  min-height:30px ; min-width: 750px;background: #81DAF5">
  <% unless @validates.nil?%>
  <% @validates.each do |k,v|%>
     <%=Student.human_attribute_name(k)%>&nbsp;<%=v%><br><br>
  <% end %>
  <br>
  <%end%>
  <input type="button" value="Ok" onclick="jQuery('.errormsg').css('visibility','hidden') ;" >
  </div> 
</div>


  <%=f.hidden_field :id%>

 <label> <%= f.label :level_code %>
    <span class="small">Level code</span>
  </label>  
  <%= f.text_field :level_code  , :required => true %>

 <label> <%= f.label :level_name %>
    <span class="small">Level name</span>
  </label>  
  <%= f.text_field :level_name  , :required => true%>

  <div><input name="commit" type="submit" value="Save" onclick="//this.setAttribute('disabled', 'disabled');"><input type="button" value="Cancel" onclick="document.location.href = '../../levels'" ></div>   
 
<% end %>
